html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: black; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* start editing from here */
a {
  text-decoration: none; }

.txt-rt {
  text-align: right; }

/* text align right */
.txt-lt {
  text-align: left; }

/* text align left */
.txt-center {
  text-align: center; }

/* text align center */
.float-rt {
  float: right; }

/* float right */
.float-lt {
  float: left; }

/* float left */
.clear {
  clear: both; }

/* clear float */
.pos-relative {
  position: relative; }

/* Position Relative */
.pos-absolute {
  position: absolute; }

/* Position Absolute */
.vertical-base {
  vertical-align: baseline; }

/* vertical align baseline */
.vertical-top {
  vertical-align: top; }

/* vertical align top */
.underline {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  margin: 0 0 20px 0; }

/* Add 5px bottom padding and a underline */
nav.vertical ul li {
  display: block; }

/* vertical menu */
nav.horizontal ul li {
  display: inline-block; }

/* horizontal menu */
img {
  max-width: 100%; }

/*end reset*/
/*--login form start here--*/
body {
  background: white;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  color: black; }

h1 {
  font-size: 1.7em;
  font-weight: 600;
  color: black;
  text-align: center;
  padding: 4em 0em 1em 0em; }

a {
  cursor: pointer; }

a:hover {
  text-decoration: underline; }

.login {
  width: 25%;
  margin: 2em auto 0em;
  text-align: center;
  background: #fff;
  padding: 30px; }

.topmargin {
  margin-top: 30px; }

.wrong {
  z-index: 1000;
  color: red; }

.buttons {
  margin: 1em 0em 2em; }

.buttons ul li {
  display: inline-block; }

.buttons ul li a {
  font-size: 0.9em;
  font-weight: 400;
  color: black; }

.blogContent {
  margin-top: 50px; }

.fi-preview {
  width: 100%;
  height: 300px; }

.featuredImage {
  font-size: 1em;
  color: black; }

.buttons ul li a.face {
  background: #3b5998;
  padding: 0.5em 1.7em 0.5em 1em; }

.buttons ul li a.face:hover {
  background: #244384; }

.buttons ul li a.twit {
  color: black;
  background: #FFFFFF;
  padding: 0.5em 1.7em 0.5em 1em; }

.buttons ul li a.twit:hover {
  background: #4285F4;
  color: black; }

.imageSize {
  width: 100%;
  height: 500px; }

.buttons ul li a span.face {
  background: url(../images/facebook.png) no-repeat 0px 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-top;
  margin: 0em 1.5em 0em 0em; }

.buttons ul li a span.twit {
  background: url(../images/google.png) no-repeat 0px 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-top;
  margin: 0em 1.5em 0em 0em; }

.postFeaturedImageCapsule {
  height: 522px;
  width: 770px; }

.login h2 {
  font-size: 0.9em;
  font-weight: 400;
  color: #000;
  background: #ccc;
  width: 8%;
  margin: 0 auto;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -o-border-radius: 45px;
  padding: 0.5em 0em; }

.login input[type="text"] {
  font-size: 0.8em;
  font-weight: 500;
  color: black;
  padding: 10px 10px;
  width: 91%;
  outline: none;
  border: 2px solid #999;
  margin: 1.5em 0em 1em 0em; }

.login input[type="password"] {
  font-size: 0.8em;
  font-weight: 500;
  color: black;
  padding: 10px 10px;
  width: 91%;
  outline: none;
  border: 2px solid #999; }

.forgot-para {
  float: right; }

.backto {
  float: left; }

.backto a {
  font-size: 0.9em;
  font-weight: 400;
  color: black; }

.backto a:hover {
  color: #00aeed;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all; }

label.checkbox {
  float: left; }

.hover {
  cursor: pointer; }

.login input[type="submit"] {
  font-size: 0.9em;
  font-weight: 600;
  color: black;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all; }

.login h3 {
  font-size: 0.95em;
  font-weight: 400;
  color: black;
  margin: 0.7em 0em; }

.login h3 a {
  font-size: 0.95em;
  font-weight: 400;
  color: #00aeed; }

.login h3 a:hover {
  color: #3b5998;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all; }

.copyright {
  margin: 8em 0em 0em 0em;
  text-align: center; }

.copyright p {
  font-size: 1em;
  font-weight: 400;
  color: black; }

.copyright p a {
  font-size: 1em;
  font-weight: 400;
  color: black; }

.copyright p a:hover {
  color: #000;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all; }

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 93%;
  background-color: #3B5998;
  padding: 7px 10px; }

.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: black; }

.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1); }

.awesome_button {
  position: relative;
  display: inline-block;
  padding: 1.2em 2em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: white; }
  .awesome_button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border-radius: 4px;
    transition: box-shadow .5s ease, transform .2s ease;
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px)); }
  .awesome_button:hover::before {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }
  .awesome_button::after {
    position: relative;
    display: inline-block;
    content: attr(data-title);
    transition: transform .2s ease;
    font-weight: bold;
    letter-spacing: .01em;
    will-change: transform;
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)); }

/*--meadia quiries start here--*/
@media (max-width: 1440px) {
  .login {
    width: 29%; }

  h1 {
    padding: 3em 0em 1em 0em; }

  .forgot .checkbox i {
    top: 1px;
    left: 2px; }

  .login input[type="text"] {
    width: 88.5%; }

  .login input[type="password"] {
    width: 88.5%; }

  .hvr-sweep-to-bottom {
    width: 91%; }

  .forgot {
    width: 94%; }

  .buttons ul li a.face {
    padding: 0.5em 1em 0.5em 1em; }

  .buttons ul li a.twit {
    padding: 0.5em 2em 0.5em 1.5em; } }
@media (max-width: 1366px) {
  .copyright {
    margin: 8em 0em 2em 0em; }

  h1 {
    padding: 2em 0em 0em 0em; }

  .login input[type="text"] {
    width: 87%; }

  .login input[type="password"] {
    width: 87%; }

  .forgot {
    width: 93%; }

  .buttons ul li a span.twit {
    margin: 0em 1em 0em 0em; }

  .buttons ul li a.twit {
    padding: 0.5em 1em 0.5em 1.5em; } }
@media (max-width: 1280px) {
  .login {
    width: 29%; }

  .login h2 {
    padding: 0.4em 0em; }

  .login input[type="text"] {
    width: 90%; }

  .login input[type="password"] {
    width: 90%; }

  .forgot {
    width: 97%; }

  .buttons ul li a.twit {
    padding: 0.5em 1em 0.5em 0.6em; } }
@media (max-width: 1024px) {
  .login {
    width: 35%; }

  .copyright {
    margin: 7em 0em 2.2em 0em; }

  .login {
    width: 36%; }

  .hvr-sweep-to-bottom {
    width: 92%; }

  .buttons ul li a.twit {
    padding: 0.5em 1em 0.5em 0.8em; }

  .buttons ul li a.face {
    padding: 0.5em 1em 0.5em 0.6em; } }
@media (max-width: 768px) {
  .login {
    width: 48%; }

  h1 {
    padding: 6em 0em 0em 0em; }

  .copyright {
    margin: 15em 0em 3em 0em; }

  .login input[type="text"] {
    width: 91%; }

  .login input[type="password"] {
    width: 91%; }

  .buttons ul li a span.face {
    margin: 0em 1.2em 0em 0em; }

  .hvr-sweep-to-bottom {
    width: 93.2%; }

  .buttons ul li a.twit {
    padding: 0.5em 1.5em 0.5em 0.8em; } }
@media (max-width: 736px) {
  .buttons ul li a.face {
    padding: 0.7em 0.8em 0.7em 0.5em; }

  .buttons ul li a.twit {
    padding: 0.7em 1em 0.7em 1em; }

  .buttons ul li a span.face {
    margin: 0em 0.7em 0em 0em; } }
@media (max-width: 667px) {
  .login {
    width: 54%; }

  .buttons ul li a.face {
    padding: 0.7em 0.8em 0.7em 0.85em; } }
@media (max-width: 640px) {
  .copyright {
    margin: 10em 0em 3em 0em; }

  h1 {
    padding: 2em 0em 0em 0em; }

  .login {
    width: 58%; }

  .buttons ul li {
    margin: 0em 0em 1.8em 0em; }

  .buttons {
    margin: 1.5em 0em 0em 0em; }

  .login h2 {
    font-size: 0.85em; }

  .buttons ul li a.face {
    padding: 0.6em 6.5em 0.6em 6.5em; }

  .buttons ul li a span.face {
    margin: 0em 2em 0em 0em; }

  .buttons ul li a.twit {
    padding: 0.7em 7em 0.7em 6.3em; }

  .buttons ul li a span.twit {
    margin: 0em 3em 0em 0em; }

  .hvr-sweep-to-bottom {
    width: 93%; } }
@media (max-width: 600px) {
  .buttons ul li a.face {
    padding: 0.7em 6em 0.7em 5.4em; }

  .buttons ul li a.twit {
    padding: 0.7em 6em 0.7em 5.5em; }

  .login h2 {
    width: 9%; } }
@media (max-width: 568px) {
  .login {
    width: 61%; } }
@media (max-width: 480px) {
  .buttons ul li a {
    font-size: 0.8em; }

  .copyright {
    margin: 7em 0em 3em 0em; }

  .login {
    width: 71%;
    padding: 20px; }

  .login h2 {
    padding: 0.2em 0em; }

  .login input[type="text"] {
    font-size: 0.75em;
    padding: 6px 10px; }

  .login input[type="password"] {
    font-size: 0.75em;
    padding: 6px 10px; }

  .hvr-sweep-to-bottom {
    width: 92%; }

  .forgot-para a p {
    font-size: 0.8em; }

  .forgot .checkbox {
    font-size: 13px; }

  .buttons ul li a.face {
    padding: 0.7em 7em 0.7em 6.3em; }

  .buttons ul li a.twit {
    padding: 0.7em 6.8em 0.7em 6.7em; }

  .login h2 {
    width: 8%; } }
@media (max-width: 414px) {
  .forgot .checkbox {
    font-size: 12px; }

  .forgot-para a p {
    font-size: 0.75em; }

  .buttons ul li a.face {
    padding: 0.7em 4em 0.7em 4.85em; }

  .buttons ul li a.twit {
    padding: 0.7em 4em 0.7em 5em; }

  .login h2 {
    width: 9%; } }
@media (max-width: 384px) {
  .forgot-para a p {
    font-size: 0.65em; }

  .forgot .checkbox {
    font-size: 11.5px; }

  .login h2 {
    width: 11%; }

  .buttons ul li a.face {
    padding: 0.7em 3.7em 0.7em 3.8em; }

  .buttons ul li a.twit {
    padding: 0.7em 3.7em 0.7em 4em; }

  .login input[type="text"] {
    width: 90%; }

  .login input[type="password"] {
    width: 90%; } }
@media (max-width: 375px) {
  .buttons ul li a.face {
    padding: 0.7em 3.5em 0.7em 3.5em; }

  .buttons ul li a.twit {
    padding: 0.7em 3.6em 0.7em 3.5em; }

  .login input[type="text"] {
    width: 88%; }

  .login input[type="password"] {
    width: 88%; } }
@media (max-width: 320px) {
  h1 {
    padding: 1em 0em 0em 0em;
    font-size: 1.4em; }

  .login {
    width: 85%;
    margin: 1em auto 0em;
    padding: 17px; }

  .buttons ul li a {
    font-size: 0.75em; }

  .hvr-sweep-to-bottom {
    width: 91%;
    padding: 6px 10px; }

  .copyright {
    margin: 3em 0em 2.1em 0em; }

  .login h2 {
    width: 10%;
    padding: 0.2em 0em; }

  .buttons {
    margin: 0.5em 0em; }

  .login h3 {
    font-size: 0.8em; }

  .login input[type="text"] {
    padding: 6px 10px;
    width: 89%;
    margin: 1em 0em 0.5em 0em;
    font-size: 0.73em; }

  .login input[type="password"] {
    padding: 6px 10px;
    width: 89%; }

  .copyright p {
    font-size: 0.8em; }

  .forgot-para a p {
    font-size: 0.7em; }

  .forgot .checkbox {
    font-size: 12px; }

  .buttons ul li {
    margin: 0px 0px 13px 0px; }

  .forgot .checkbox {
    font-size: 11px; }

  .buttons ul li a.twit {
    padding: 0.7em 4.6em 0.7em 4.5em; }

  .buttons ul li a.face {
    padding: 0.7em 4.5em 0.7em 4.5em; } }
.title {
  width: 800px;
  color: black; }

.preclass {
  background: white;
  width: 90%; }

h1 {
  font-family: "Texta", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center; }

h2 {
  font-weight: 400;
  font-size: 24px;
  color: black; }

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px 16px 40px 16px;
  text-align: center; }

.centerstage {
  width: 75%;
  margin: 0 auto;
  padding: 20px 16px 40px 16px;
  text-align: center; }

.imageClass {
  margin-top: 30px; }

.form-footer {
  margin-top: 1em; }

.ui-input {
  position: relative;
  padding: 0;
  border: 0; }

.ui-input input {
  border: 0;
  background: none;
  padding: 16px 0 16px 0;
  font-size: 24px;
  outline: 0;
  width: 100%;
  tap-highlight-color: transparent;
  touch-callout: none; }

.ui-input input + label {
  position: relative;
  display: block;
  padding: 8px 0 8px 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .0875em;
  font-weight: 500;
  text-align: left; }

.ui-input input + label::before, .ui-input input + label::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px; }

.ui-input input + label::before {
  background-color: black; }

.ui-input input + label::after {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: #6EB1FF;
  height: 2px; }

.ui-input input + label span {
  position: relative;
  color: black;
  transition: color 300ms cubic-bezier(0.215, 0.61, 0.355, 1); }

.ui-input input + label span::after {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  left: 0;
  transform: scaleX(1);
  white-space: nowrap;
  color: black;
  background-image: linear-gradient(to right, #4A90E2 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 100% 50%;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateZ(0);
  transition: background-position 300ms cubic-bezier(0.215, 0.61, 0.355, 1); }

.ui-input input:focus + label::after,
.ui-input input.error + label::after,
.ui-input input:invalid + label::after,
.ui-input input.filled + label::after {
  transform: scaleX(1);
  transform-origin: left; }

.ui-input input:focus + label span::after,
.ui-input input.error + label span::after,
.ui-input input:invalid + label span::after,
.ui-input input.filled + label span::after {
  background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 0% 50%; }

.ui-input input.filled {
  color: black; }

.ui-input input.filled + label::after {
  background-color: #ffffff; }

.ui-input input.filled + label span::after {
  background-image: linear-gradient(to right, #ffffff 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 0% 50%; }

.ui-input input:focus {
  color: #6EB1FF; }

.ui-input input:focus + label::after {
  background-color: #6EB1FF; }

.ui-input input:focus + label span::after {
  background-image: linear-gradient(to right, #6EB1FF 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 0% 50%; }

.ui-input input.error,
.ui-input input:invalid {
  color: #E66161; }

.ui-input input.error + label::after,
.ui-input input:invalid + label::after {
  background-color: #E66161; }

.ui-input input.error + label span::after,
.ui-input input:invalid + label span::after {
  background-image: linear-gradient(to right, #E66161 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 0% 50%; }

.btn {
  border: 0;
  background-color: #50617A;
  padding: 18px 30px 18px 30px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .0875em;
  font-weight: 500;
  border-radius: 100px;
  outline: 0;
  transition: background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 300ms cubic-bezier(0.215, 0.61, 0.355, 1); }

.btn-smaller {
  border: 0;
  background-color: #50617A;
  padding: 9px 15px 9px 15px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .0435em;
  font-weight: 500px;
  border-radius: 100px;
  cursor: pointer;
  outline: 0;
  transition: background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 300ms cubic-bezier(0.215, 0.61, 0.355, 1); }

.btn-smaller:focus, .btn-smaller:active,
.btn-smaller:hover {
  background-color: #6EB1FF;
  color: white; }

.btn:focus, .btn:active,
.btn:hover {
  background-color: #6EB1FF;
  color: white; }

.__first, .__second, .__third, .__fourth {
  animation-name: fadeIn;
  animation-duration: 180ms;
  animation-fill-mode: both;
  animation-iteration-count: 1; }

.__first {
  animation-delay: 0; }

.__second {
  animation-delay: 80ms; }

.__third {
  animation-delay: 180ms; }

.__fourth {
  animation-delay: 360ms; }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -25%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.standard {
  margin-bottom: 1em;
  border: none;
  background: white; }

.fr-element {
  height: 400px; }

.wrap {
  width: 90%;
  word-wrap: break-word;
  font-size: .5em; }

.padding {
  margin-top: 20px; }

/* ----------- Media Queries ------------- */
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Non-Retina Screens ----------- */
/* ----------- Retina Screens ----------- */
/* ----------- iPad mini ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */

/*# sourceMappingURL=main.css.map */
