<div>
    <h3 ng-init="cc.get()">Comments</h3>

    <textarea class="commenter" placeholder="Comment Content" aria-label="..." ng-model="cc.content"
              aria-invalid="false" ng-trim="false"></textarea>
    <div class="row padding-right">
        <div flex>
            <label class="commentlabel" for="name">Name</label>
        </div>
        <div flex>
            <label class="commentlabel" for="email">Email</label>
        </div>
        <div flex></div>
    </div>
    <div class="row padding-right">
        <div flex>
            <input id="name" type="text" class="commentname" placeholder="Name" name="commentorname" ng-model="cc.name">
        </div>
       <div flex>
           <input id="email" type="email" class="commentname" placeholder="Email" ng-model="cc.email">
       </div>
        <div flex>
            <md-button ng-click="cc.add()">Add Comment</md-button>
        </div>
    </div>

    <div>Comments -></div>
    <div class="commentcontainer" layout-padding>

    <div class="singlecomment" ng-repeat="comment in cc.comments">
        <div ng-bind="comment.name"></div>
        <div froala-view="comment.content"></div>
    </div>
    </div>
</div>