<div class="content">
    <div class="header">
        <div layout="row" layout-sm="column">
            <input type="text" class="title" ng-model="uc.selected.title" placeholder="Title..." ng-change="uc.getChange(uc.selected); uc.addPostParam(uc.selected)">
            <div flex="33"><md-button ng-click="uc.showAdvanced($event, uc.selected)" aria-label="Fullscreen Custom Dialog">Preview Post</md-button></div>
        </div>
    </div>
    <div layout="row" layout-sm="column">
        <div ng-include="'./src/templates/bloglist.html'"></div>
        <div class="textarea">
            <div layout="row">
                <md-input-container aria-label="..." flex>
                    <md-select-label aria-label="..." class="gray">County</md-select-label>
                    <md-select aria-label="..." ng-model="uc.selected.county" ng-change="uc.getChange(uc.selected)">
                        <md-option aria-label="..." class="blackify" ng-repeat="county in uc.counties" ng-click="uc.addCountyParams(uc.selected, county.param)">{{ county.name }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex aria-label="...">
                    <md-select-label aria-label="..." class="gray" aria-label="...">Category</md-select-label>
                    <md-select aria-label="..." ng-model="uc.selected.category" ng-change="uc.getChange(uc.selected)" aria-label="...">
                        <md-option aria-label="..." class="blackify" ng-repeat="category in uc.categories" aria-label="...">{{ category.name }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <md-select-label class="gray" aria-label="...">Season</md-select-label>
                    <md-select ng-model="uc.selected.season" ng-change="uc.getChange(uc.selected)" aria-label="...">
                        <md-option class="blackify" ng-repeat="season in uc.seasons" aria-label="...">{{ season.name }}</md-option>
                    </md-select>
                </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <div flex="33">
                <md-input-container class="smalleriC" flex>
                    <md-radio-group aria-label="..." ng-model="uc.selected.posted" ng-change="uc.getChange(uc.selected)">
                        <md-radio-button ng-value="true" aria-label="Label 1">
                            Posted
                        </md-radio-button>
                        <md-radio-button ng-value="false" aria-label="Green">
                            Draft
                        </md-radio-button>
                    </md-radio-group>
                </md-input-container>
                    </div>
                        <md-input-container class="smalleriC" flex><md-checkbox md-no-ink aria-label="Date Night" ng-model="uc.selected.datenight" ng-change="uc.getChange(uc.selected)" class="md-primary">Date Night</md-checkbox></md-input-container>
                        <md-input-container class="smalleriC" flex><md-checkbox md-no-ink aria-label="Destinations" ng-model="uc.selected.destination" ng-change="uc.getChange(uc.selected)" class="md-primary">Destination</md-checkbox></md-input-container>
                        <md-input-container class="smalleriC" flex><md-checkbox md-no-ink aria-label="For Kids" ng-model="uc.selected.kids" ng-change="uc.getChange(uc.selected)" class="md-primary">For Kids</md-checkbox></md-input-container>
            </div>

            <textarea aria-label="..." froala id="taStyle" ng-model="uc.selected.content" ng-change="uc.getChange(uc.selected)" aria-invalid="false" ng-trim="false"></textarea>
            <div layout="row" class="padding" layout-sm="column">
                <div flex><input class="full" type="text" ng-disabled="true" ng-model="uc.selected.param"></div>
                <div flex><strong>Words: <span ng-bind="uc.countOf(uc.selected.content)"></span></strong></div>
            </div>
        </div>
    </div>
</div>