<div layout="row">
    <div class="first-column">
        <div class="featuredimg"></div>
    </div>
    <div class="second-column">
        <hr>
        <h3>Most Recent Posts</h3>
        <div class="small-blog-roll">
            <div class="small-blog-item">
                <div layout="row">
                    <div class="small-blog-item-img"></div>
                    <div class="small-blog-item-text">
                        <h5>Height Me!!!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
