<div>
    <div class="feate">
        <div class="logoflex">
            <a ui-sref="home"><img class="logo" ng-src="./img/logo-white.png"></a>
        </div>
    </div>
<div class="loop owl-carousel owl-theme owl-center">
    <!--<div class="owl-stage-outer">-->
    <div class="slide" flex style="background: url('https://s3-us-west-2.amazonaws.com/doingutahdaily/canoeing-1081890_1280-1180x570.jpg'); background-size: cover; background-position: center center"> hello </div>
    <div class="slide" flex> hi </div>
    <div class="slide" flex> who </div>
    <div class="slide" flex> what </div>
    <div class="slide" flex> where </div>
    <div class="slide" flex> there </div>
    <div class="slide" flex> why </div>
<!--</div>-->
    <div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div>
</div>
</div>
<script>$(document).ready(function(){
    $(".owl-carousel").owlCarousel();
    $('.loop').owlCarousel({
        center: true,
        items:2,
        loop:true,
        margin:10,
        responsive:{
            600:{
                items:4
            }
        }
    });
});</script>

<!--<div class="top-padding"></div>-->
<!--<div class="example video-bg">-->
    <!--<div class="video cover align-center align-middle">-->
        <!--<video width="560" height="320" preload="auto">-->
            <!--<source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">-->
        <!--</video>-->
    <!--</div>-->
    <!--<div class="content">-->
        <!--<h1>-->
            <!--1. Cover with align-center and align-middle-->
        <!--</h1>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="container slider">-->
    <!--<img ng-repeat="slide in hc.slides" class="slide slide-animation nonDraggableImage"-->
         <!--ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"-->
         <!--ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">-->

    <!--<a class="arrow prev" href="#" ng-click="nextSlide()"></a>-->
    <!--<a class="arrow next" href="#" ng-click="prevSlide()"></a>-->
    <!--<nav class="nav">-->
        <!--<div class="wrapper">-->
            <!--<ul class="dots">-->
                <!--<li class="dot" ng-repeat="slide in slides">-->
                    <!--<a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"-->
                       <!--ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</nav>-->
<!--</div>-->