<html>
<head>

</head>
<body>

<button class="signin-google">Sign in with Google</button><br>
<button class="signin-facebook">Sign in with Facebook</button><br>

<script src="https://cdn.auth0.com/w2/auth0-6.7.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script>
    var auth0 = new Auth0({
        domain:         'teagleseagles.auth0.com',
        clientID:       'HgmQAsN454guxmXz8tsq951aM0rrfADL',
        callbackURL:    'http://localhost:5000/'
    });

    // sign-in with social provider with plain redirect
    $('.signin-google').on('click', function() {
        auth0.signin({connection: 'google-oauth2'}); // use connection identifier
    });
    $('.signin-facebook').on('click', function() {
        auth0.signin({connection: 'facebook'});
    });
</script>
</body>
</html>

