<div ng-controller="BlogController as uc">
    <div class="margin-autos">
            <div class="margin-tops">
                <ul class="navul">
                <a class="toggle-nav" href="#">&#9776;</a>
                <li class="navli"><i class="fa fa-search" aria-hidden="true"></i> Search</li>
                <li class="navli"><a class="nava" ui-sref="about">ABOUT</a></li>
                <li class="navli"><a class="nava" href="#">LATEST POST</a></li>
                <li class="navli"><a class="nava" ui-sref="edit">EDITOR  <i class="fa fa-caret-down"></i></a>
                    <ul class="sub-menu">
                    <li><a ui-sref="masterlist">All Blogs</a></li>
                    <li ng-if="!uc.showEditBlog"><a href="#">Edit Blog</a></li>
                    </ul>
                    </li>
                    <li class="navli"><a class="nava" ui-sref="posts">VIEW BLOG</a></li>
                    <li class="navli"><a class="nava" ui-sref="counties">COUNTIES <i class="fa fa-caret-down"></i></a>
                    <ul class="sub-menu">
                    <li ng-repeat="blog in uc.blogs | unique:'county'" ng-if="blog.county"><a ng-href="#/counties/{{ blog.cParam }}" ng-click="uc.getCounties(blog.cParam)">{{ blog.county }}</a></li>
                    </ul>
                    </li>
                    <li class="navli"><a class="nava" ui-sref="categories">CATEGORIES <i class="fa fa-caret-down"></i></a>
                    <ul class="sub-menu">
                    <li ng-repeat="blog in uc.blogs | unique:'category'" ng-if="blog.category"><a ng-href="#/categories/{{ blog.catParam }}" ng-click="uc.getCategories(blog.catParam)">{{ blog.category }}</a></li>
                    </ul>
                    </li>
                    <li class="navli"><a class="nava" href="#">SEASONS</a></li>
                    <li class="navli"></li>
                    </ul>
            </div>

    </div>
</div>