<div ng-init="bc.initPost()">
</div>
<div class="flexbox">
    <div class="blogContainer">
    <div class="title" ng-bind="bc.post.title"></div>
        </div>
</div>
<div class="featured"
     ng-style="{'background-image' : 'url(' + bc.post.featured + ')','background-size': 'cover','background-position': 'center center'}"></div>
<div class="flexbox">
    <div class="blogContainer">
    <div class="title" ng-bind="bc.post.title"></div>
    <div layout="row" class="postline">
        <span class="postdate">{{ bc.post.date | dated | date : 'fullDate' }}</span>
        <ul class="filters">
            <md-chip><i>{{ bc.post.category }},</i></md-chip>
            <md-chip><i>{{ bc.post.county | addCounty }},</i></md-chip>
            <md-chip><i>{{ bc.post.season }}</i></md-chip>
        </ul>
    </div>

    <p>
    <div class="blogContent messagestyle" froala-view="bc.post.content"></div>
    </p>
    <strong><a ng-href="#/edit/{{bc.post.param}}" ng-click="bc.getPost(bc.post)">Edit Blog</a></strong>
        <div ng-include="'./src/templates/share.html'"></div>
    <comment-dir></comment-dir>
    </div>
</div>
<!--<footer class="footer" ng-include="'./src/templates/footer.html'"></footer>-->