<md-dialog aria-label="Preview Post" ng-init="postCheck()"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Preview Post</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="panel callout" ng-hide="bc.blogs.length == 0">
                    <div class="title">
                        <span ng-bind="blog.title"></span>
                    </div>
                    <div class="featured"></div>
                    <div id="authorDateLine">
                        <p><span ng-repeat="tag in blog.tags track by $index"><span ng-class-even="'even'" ng-class-odd="'odd'"><span ng-bind="tag" class="tag"></span></span></span>
                            <em> By <a ui-sref="jen" href="{{blog.url}}"><span ng-bind="blog.name"></span></a></em> On <span ng-bind="blog.date | date:'MM/dd/yyyy'"></span></p><span><md-icon md-svg-icon="{{blog.avatar}}" class="avatar"></md-icon></span>
                    </div>
                    <hr />
                    <p><div class="messagestyle" froala-view="blog.content"></div></p>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
