<h2>Create A New Post</h2>
<div><label>Blog Title: </label><input type="text" placeholder="Title" ng-model="cc.blogTitle"></div>
<div><label>Featured Image: </label><input type="text" placeholder="Title" ng-model="cc.featuredImage"></div>
<div><label>Blog Content: </label><textarea ng-model="cc.blogContent"></textarea></div>
<div><button ng-click="cc.saveBlog()">Save Blog</button></div>
<div><button ng-click="cc.logout()">Logout</button></div>
<div><button ng-click="cc.manageBlogs()">Back to Blogs</button></div>