<!--login form start here-->
<h1>Login to mkteagle.com</h1>
<div class="login">
    <form class="hover" ng-submit="lc.signIn()">
        <div class="wrong" ng-show="lc.wrongPassword"></div>
        <input type="text" ng-model="lc.email" placeholder="Username"/>
        <input type="password" ng-model="lc.password" value="Password" placeholder="Password"/>
	    <div class="padding">
	    <label class="hvr-sweep-to-bottom">
		    <input type="submit" value="Login"/>
	    </label>
	    </div>
    </form>
    <div class="forgot">
        <div class="backto">
            <a href="../index.html">← Back to mkteagle.com</a>
        </div>
        <div class="forgot-para">
            <a ng-click="lc.forgotPage()">Forgot Your Password?</a>
        </div>
        <div class="clear"></div>
    </div>
    <!--<h3>Not a member? <a href="#">Sign up now!</a>  </h3>-->
</div>