body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: .75em;
  background: #303137;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.25em;
  text-shadow: 1px 1px black;
}

.main-container {
  width: 100%;
  height: 400px;
}

.uiview {
  width: 75%;
}

.wrapit {
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  width: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.names {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
      flex-direction: row;
  color: white;
}

.first_name {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid white;
  width: 100%;
  color: white;
  font-size: 1.3em;
  padding-bottom: 5px;
}

.emailadd {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
      flex-direction: row;
  color: white;
  margin-top: 18px;
}

.email_address {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid white;
  width: 100%;
  color: white;
  font-size: 1.3em;
  padding-bottom: 5px;
}

.contactme {
  margin-top: 100px;
}
.contactme h2 {
  color: #1d74bd;
}

.bio {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  background: white;
  width: 100%;
  height: 800px;
  -ms-flex-align: end;
      align-items: flex-end;
}
.bio .first-column {
  margin-top: 50px;
  width: 90%;
  height: 700px;
}

.footer-cont {
  width: 75%;
}

.one {
  display: -ms-flexbox;
  display: flex;
  width: 33.333%;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.two {
  color: white;
  font-size: 1.25em;
  width: 33.333%;
  z-index: 1000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: center;
      justify-content: center;
}
.two .text {
  height: 200px;
}
.two .text a {
  color: #1d74bd;
  text-decoration: none;
}
.two .text a:hover {
  color: gray !important;
}
.two .social {
  width: 200px;
}
.two .social ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
}
.two .social li {
  float: left;
}
.two .social li a {
  color: #1d74bd;
}
.two .social li a :hover {
  color: gray;
}
.two .social .padding {
  padding-top: 0;
  padding-left: 5px;
}

.three {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 33.333%;
}
.three ul {
  list-style: none;
  padding: 0;
  font-weight: 100;
}
.three li:first-child {
  margin-top: 0;
}
.three li {
  background-image: linear-gradient(to bottom, transparent 50%, #448ccb 50%, #448ccb 95%, #1d74bd 95%);
  -ms-flex: 1 1;
      flex: 1 1;
  background-size: 100% 200%;
  background-position: top center;
  color: white;
  display: block;
  text-decoration: none;
  transition: all .25s ease-in-out;
}
.three li a:hover {
  color: #eee;
}
.three li:hover {
  background-position: bottom center;
  color: rgba(0, 0, 0, 0.75);
}
.three li a {
  color: white;
  display: block;
  padding: 1rem 0;
  transition: all .25s ease-in-out;
}
.three.active {
  height: 320px;
}
.three.linkser {
  height: 50px;
  color: white;
  font-size: 1.25em;
}

.messages {
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  background: transparent;
  font-size: 1.3em;
  color: white;
  margin-top: 18px;
  height: 200px;
}

.footer {
  height: 300px;
  background: url("../img/overlay_img_small.png");
  background-size: cover;
  background-postion: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
}

.beyond {
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  background: #6752E8;
}

.contains {
  width: 75%;
  height: 50px;
  color: white;
  position: absolute;
}
.contains .copyright {
  -ms-flex-align: end;
      -ms-grid-row-align: flex-end;
      align-items: flex-end;
  text-align: center;
  width: 100%;
  height: 30px;
  margin-top: 20px;
}

.logo-container {
  background: #1d74bd;
  -ms-flex-pack: center;
      justify-content: center;
  width: 50%;
}

.button {
  border: 0;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 1em;
  width: 66px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.button:active {
  background-color: white;
  color: black;
}

.main {
  margin-top: 100px;
  width: 100%;
  margin-bottom: 100px;
}

.twocontainer {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
}

.top-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
}

.portfolio-first {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  background: url("../img/landingpage.jpg");
  background-size: cover;
  background-position: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
}
.portfolio-first .logo-img {
  width: 337px;
  height: 225px;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  position: absolute;
}
.portfolio-first .overlay {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 100%;
  height: 300px;
  opacity: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  left: 0;
}
.portfolio-first :hover .overlay {
  opacity: 1;
}
.portfolio-first .plus {
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.85);
  font-size: 96px;
}

.first-it {
  background: url("../img/xactware-externship.png");
  background-color: #069EEF;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 33.333%;
  height: 400px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.first-it .overlay {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 100%;
  height: 400px;
  opacity: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  left: 0;
}
.first-it .plus {
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.85);
  font-size: 96px;
}

.first-it:hover .overlay {
  opacity: 1;
}

.portfolio-first:hover .overlay {
  opacity: 1;
}

.second-it:hover .overlay {
  opacity: 1;
}

.third-it:hover .overlay {
  opacity: 1;
}

.second-it {
  background: url("../img/donut-clicker-screen.png");
  background-color: #ef794c;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 33.333%;
  height: 400px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.second-it .overlay {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 100%;
  height: 400px;
  opacity: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  left: 0;
}
.second-it .plus {
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.85);
  font-size: 96px;
}

.third-it {
  background-color: #4d403c;
  background-image: url("../img/flappy-bird-screen.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 33.333%;
  height: 400px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.third-it .overlay {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 100%;
  height: 400px;
  opacity: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  left: 0;
}
.third-it .plus {
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.85);
  font-size: 96px;
}

.portfolio {
  height: 500px;
  width: 100%;
}
.portfolio .container {
  width: 100%;
  background: none;
  border-radius: 0px;
}

.heading-span {
  background: #1d74bd;
  padding: 5px;
}

.about {
  -ms-flex-order: 2;
      order: 2;
  width: 50%;
  height: 400px;
}

.about-container:after {
  display: block;
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  opacity: 0.5;
  right: 0;
  bottom: 0;
  background: inherit;
  -webkit-filter: grayscale(1);
  /* Old WebKit */
  filter: grayscale(1);
}

.about-container {
  background-image: url("../img/redrocks.jpg");
  background-size: cover;
  position: relative;
  -ms-flex-order: 2;
      order: 2;
  width: 50%;
  height: 400px;
}

.resume {
  margin-top: 100px;
  height: 500px;
  width: 100%;
}

.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
}

.footer-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 300px;
  -ms-flex-direction: row;
      flex-direction: row;
}

.second {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-order: 2;
      order: 2;
  height: 500px;
  text-align: center;
  margin-top: 20px;
}

.third {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-order: 3;
      order: 3;
  height: 500px;
  text-align: center;
  margin-top: 20px;
}

.row {
  width: 100%;
}

.center {
  text-align: center;
}

.logo {
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 50px;
  padding-left: 20px;
  width: 50%;
  height: 50%;
}

.container {
  width: 600px;
  margin: 2em auto;
  overflow: hidden;
  background: white;
  border-radius: 5px;
}

.message, textarea {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  clear: both;
  overflow: hidden;
}

.navToggle {
  z-index: 111;
  position: absolute;
  width: 100px;
  height: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10px;
  cursor: pointer;
}
.navToggle .icon {
  -webkit-transition: all 0.4s ease-out;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: #333;
}
.navToggle .icon:before, .navToggle .icon:after {
  -webkit-transition: all 0.25s ease-out;
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #333;
  content: '';
}
.navToggle .icon:before {
  top: -20px;
  left: 0;
}
.navToggle .icon:after {
  top: 20px;
  left: 0;
}
.navToggle:hover .icon {
  background-color: #555;
}
.navToggle:hover .icon:before {
  top: -25px;
  background-color: #555;
}
.navToggle:hover .icon:after {
  top: 25px;
  background-color: #555;
}
.navToggle.open .icon {
  -webkit-transition: all 0.4s ease-out;
  background-color: transparent;
  -webkit-transform: rotate(180deg);
}
.navToggle.open .icon:before {
  top: 0;
  -webkit-transform: rotate(45deg);
}
.navToggle.open .icon:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
}

#menu {
  z-index: 1;
  left: 0;
  right: 0;
  top: 100px;
  margin: 0 auto;
  position: absolute;
  width: 200px;
  height: 0px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 0.5s;
}
#menu ul {
  list-style: none;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.25em;
  font-weight: 100;
}
#menu li:first-child {
  margin-top: 0;
}
#menu li {
  background-image: linear-gradient(to bottom, transparent 50%, #448ccb 50%, #448ccb 95%, #1d74bd 95%);
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  background-size: 100% 200%;
  background-position: top center;
  color: #666;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease-in-out;
}
#menu li a:hover {
  color: #eee;
}
#menu li:hover {
  background-position: bottom center;
  color: rgba(0, 0, 0, 0.75);
}
#menu li a {
  color: white;
  display: block;
  padding: 1rem 0;
  transition: all .25s ease-in-out;
}
#menu.active {
  height: 320px;
}

.doingutahdaily {
  background-color: white;
  display: -ms-flexbox;
  display: flex;
  height: 800px;
}
.doingutahdaily .column1 {
  width: 50%;
  height: 800px;
}
.doingutahdaily .column1 ul {
  list-style-type: none;
}
.doingutahdaily .column2 {
  width: 50%;
  height: 800px;
}

.padding {
  padding: 10px;
}

@media all and (max-width: 640px) {
  .top-container {
    height: 520px;
  }

  .about-container {
    height: 400px;
    width: 100%;
  }

  .main {
    margin-top: 0;
    width: 100%;
  }

  .logo-container {
    height: 120px;
    width: 100%;
  }

  .main-container {
    height: 200px;
  }

  .grid {
    height: 400px;
  }

  .second-it {
    height: 200px;
    width: 50%;
  }
  .second-it .overlay {
    height: 200px;
  }

  .third-it {
    width: 50%;
    height: 200px;
  }
  .third-it .overlay {
    height: 200px;
  }

  .first-it {
    height: 200px;
    width: 50%;
  }
  .first-it .overlay {
    height: 200px;
  }

  .second {
    margin-top: 20px;
  }

  .third {
    -ms-flex-positive: 0;
        flex-grow: 0;
    margin-top: 20px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .portfolio-first {
    margin-top: 320px;
  }
  .portfolio-first .logo-img {
    width: 189px;
    height: 126px;
  }

  .logo {
    width: 80%;
    height: 80%;
  }

  #menu {
    margin-top: -20px;
  }

  a {
    font-size: 1em;
  }

  .uiview {
    width: 100%;
  }

  .contactme {
    margin-top: 320px;
  }

  .three {
    display: none;
  }
}
.bio-row {
  width: 100%;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
}

.elevencolumn {
  width: 25%;
}

.twelvecolumn {
  width: 75%;
}

.img-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
