<!--<div class="contact">-->
	<!--<div class='container'>-->
		<!--<header>-->
			<!--<h1>Contact Michael</h1>-->
		<!--</header>-->
		<!--<div class='name'>-->
			<!--<input class='first' placeholder='First Name' type='text'>-->
			<!--<input class='last' placeholder='Last Name' type='text'>-->
		<!--</div>-->
		<!--<div class='contact'>-->
			<!--<input class='email' placeholder='E-mail Address' type='text'>-->
		<!--</div>-->
		<!--<div class='message'>-->
			<!--<textarea placeholder='Your Suggestions Here!'></textarea>-->
		<!--</div>-->
		<!--<footer>-->
			<!--<button>Send Email</button>-->
		<!--</footer>-->
	<!--</div>-->
<!--</div>-->
<div class="contactme">
	<div class="names">
		<input class="first_name" ng-model="firstName" placeholder="First Name" type="text">
		<input class="last_name" placeholder="Last Name" ng-model="lastName" type="text">
	</div>
	<div class="emailadd">
		<input class="email_address" placeholder="Email Address" ng-model="emailAddress" type="email">
	</div>
		<textarea class="messages" placeholder="Please type your messages here"></textarea>
</div>