<h1>Forgot password for mkteagle.com</h1>
<div class="login">
	<form>
		<input type="text" ng-model="fc.email" placeholder="Enter your email address" />
	</form>
	<div class="forgot">
		<div class="backto">
			<a href="../index.html">← Back to mkteagle.com</a>
		</div>
		<div class="forgot-para">
			<a ng-click="loginPage()"> <p>Login?</p></a>
		</div>
		<div class="clear"> </div>
	</div>
	<form>
		<label  class="hvr-sweep-to-bottom">
			<input type="submit" ng-click="fc.forgotPassword()" value="Reset Password"/>
		</label>
	</form>
	<!--<h3>Not a member? <a href="#">Sign up now!</a>  </h3>-->
</div>
</div>
<!--login form end here-->