body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: .75em;
  background: #303137;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.25em;
  text-shadow: 1px 1px black;
}

.wrapper-bg {
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100vh;
  position: relative;
  background: #303137;
}

.main-container {
  width: 100%;
  height: 400px;
}

.logo-container {
  background: #1d74bd;
  -ms-flex-pack: center;
      justify-content: center;
  width: 50%;
}

.main {
  margin-top: 100px;
  width: 75%;
}

.top-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
}

.portfolio-first {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  background: url("../img/landingpage.jpg");
  background-size: cover;
  background-position: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
}
.portfolio-first .logo-img {
  width: 337px;
  height: 225px;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  position: absolute;
}
.portfolio-first .overlay {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 100%;
  height: 300px;
  opacity: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  left: 0;
}
.portfolio-first :hover .overlay {
  opacity: 1;
}
.portfolio-first .plus {
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.85);
  font-size: 96px;
}

.first-it {
  background: url("../img/xactware-externship.png");
  background-color: #069EEF;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 33.333%;
  height: 400px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.first-it .overlay {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 100%;
  height: 400px;
  opacity: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  left: 0;
}
.first-it .plus {
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.85);
  font-size: 96px;
}

.first-it:hover .overlay {
  opacity: 1;
}

.portfolio-first:hover .overlay {
  opacity: 1;
}

.second-it:hover .overlay {
  opacity: 1;
}

.third-it:hover .overlay {
  opacity: 1;
}

.second-it {
  background: url("../img/donut-clicker-screen.png");
  background-color: #ef794c;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 33.333%;
  height: 400px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.second-it .overlay {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 100%;
  height: 400px;
  opacity: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  left: 0;
}
.second-it .plus {
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.85);
  font-size: 96px;
}

.third-it {
  background-color: #4d403c;
  background-image: url("../img/flappy-bird-screen.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 33.333%;
  height: 400px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.third-it .overlay {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 100%;
  height: 400px;
  opacity: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  left: 0;
}
.third-it .plus {
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.85);
  font-size: 96px;
}

.portfolio {
  height: 500px;
  width: 100%;
}
.portfolio .container {
  width: 100%;
  background: none;
  border-radius: 0px;
}

.heading-span {
  background: #1d74bd;
  padding: 5px;
}

.about {
  -ms-flex-order: 2;
      order: 2;
  width: 50%;
  height: 400px;
}

.about-container:after {
  display: block;
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  opacity: 0.5;
  right: 0;
  bottom: 0;
  background: inherit;
  -webkit-filter: grayscale(1);
  /* Old WebKit */
  filter: grayscale(1);
}

.about-container {
  background-image: url("../img/redrocks.jpg");
  background-size: cover;
  position: relative;
  -ms-flex-order: 2;
      order: 2;
  width: 50%;
  height: 400px;
}

.resume {
  margin-top: 100px;
  height: 500px;
  width: 100%;
}

.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
}

.second {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-order: 2;
      order: 2;
  height: 500px;
  text-align: center;
  margin-top: 20px;
}

.third {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-order: 3;
      order: 3;
  height: 500px;
  text-align: center;
  margin-top: 20px;
}

.row {
  width: 100%;
}

.center {
  text-align: center;
}

.logo {
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 50px;
  padding-left: 20px;
  width: 50%;
  height: 50%;
}

.container {
  width: 600px;
  margin: 2em auto;
  overflow: hidden;
  background: white;
  border-radius: 5px;
}

.message, .contact, .name, .footer, header, footer, textarea {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  clear: both;
  overflow: hidden;
}

header, footer {
  height: 75px;
  background: rgba(0, 0, 0, 0.05);
  line-height: 75px;
  padding-left: 20px;
  border-radius: 5px 5px 0 0;
}
header h1, footer h1 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.4);
}

.first, .last {
  float: left;
  width: 278px;
  margin: 0;
  padding: 0 0 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
}

.last {
  width: 279px;
  border-left: 0;
}

.email, textarea {
  height: 50px;
  width: 578px;
  padding: 0 0 0 20px;
  border-top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

textarea {
  padding-top: 10px;
  height: 200px;
}

footer {
  height: 49px;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  padding-left: 0;
  padding-right: 20px;
}
footer button {
  height: 32px;
  background: #e74c3c;
  border-radius: 5px;
  border: 0;
  margin: 7px 0;
  color: white;
  float: right;
  padding: 0 20px 0 20px;
  border-bottom: 3px solid #c0392b;
  transition: all linear .2s;
}
footer button:hover {
  background: #c0392b;
}
footer button:focus {
  outline: none;
}

.first:focus, .last:focus, .email:focus, textarea:focus, textarea:focus {
  outline: none;
  background: rgba(52, 152, 219, 0.1);
  color: rgba(51, 51, 51, 0.7);
}

#fun2 li:hover {
  transform: scale(1.2);
}

ul {
  border-bottom: 1px solid #ccc;
  list-style: none;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

li {
  background-image: linear-gradient(to bottom, transparent 50%, #a2d39c 50%, #a2d39c 95%, #7cc576 95%);
  background-size: 100% 200%;
  background-position: top center;
  color: #666;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease-in-out;
}
li:hover {
  background-position: bottom center;
  color: rgba(0, 0, 0, 0.75);
}
li a {
  color: #666;
  display: block;
  padding: 1rem 0;
  transition: all .25s ease-in-out;
}

.navToggle {
  z-index: 111;
  position: absolute;
  width: 100px;
  height: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10px;
  cursor: pointer;
}
.navToggle .icon {
  -webkit-transition: all 0.4s ease-out;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: #333;
}
.navToggle .icon:before, .navToggle .icon:after {
  -webkit-transition: all 0.25s ease-out;
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #333;
  content: '';
}
.navToggle .icon:before {
  top: -20px;
  left: 0;
}
.navToggle .icon:after {
  top: 20px;
  left: 0;
}
.navToggle:hover .icon {
  background-color: #555;
}
.navToggle:hover .icon:before {
  top: -25px;
  background-color: #555;
}
.navToggle:hover .icon:after {
  top: 25px;
  background-color: #555;
}
.navToggle.open .icon {
  -webkit-transition: all 0.4s ease-out;
  background-color: transparent;
  -webkit-transform: rotate(180deg);
}
.navToggle.open .icon:before {
  top: 0;
  -webkit-transform: rotate(45deg);
}
.navToggle.open .icon:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
}

#menu {
  z-index: 1;
  left: 0;
  right: 0;
  top: 100px;
  margin: 0 auto;
  position: absolute;
  width: 200px;
  height: 0px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 0.5s;
}
#menu ul {
  list-style: none;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.25em;
  font-weight: 100;
}
#menu li:first-child {
  margin-top: 0;
}
#menu li {
  background-image: linear-gradient(to bottom, transparent 50%, #448ccb 50%, #448ccb 95%, #1d74bd 95%);
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  background-size: 100% 200%;
  background-position: top center;
  color: #666;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease-in-out;
}
#menu li a:hover {
  color: #eee;
}
#menu li:hover {
  background-position: bottom center;
  color: rgba(0, 0, 0, 0.75);
}
#menu li a {
  color: white;
  display: block;
  padding: 1rem 0;
  transition: all .25s ease-in-out;
}
#menu.active {
  height: 320px;
}

@media all and (max-width: 640px) {
  .top-container {
    height: 520px;
  }

  .about-container {
    height: 400px;
    width: 100%;
  }

  .main {
    margin-top: 0;
    width: 100%;
  }

  .logo-container {
    height: 120px;
    width: 100%;
  }

  .main-container {
    height: 200px;
  }

  .grid {
    height: 400px;
  }

  .second-it {
    height: 200px;
    width: 50%;
  }
  .second-it .overlay {
    height: 200px;
  }

  .third-it {
    width: 50%;
    height: 200px;
  }
  .third-it .overlay {
    height: 200px;
  }

  .first-it {
    height: 200px;
    width: 50%;
  }
  .first-it .overlay {
    height: 200px;
  }

  .second {
    margin-top: 20px;
  }

  .third {
    -ms-flex-positive: 0;
        flex-grow: 0;
    margin-top: 20px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .portfolio-first {
    margin-top: 320px;
  }
  .portfolio-first .logo-img {
    width: 189px;
    height: 126px;
  }

  .logo {
    width: 80%;
    height: 80%;
  }

  #menu {
    margin-top: -20px;
  }

  a {
    font-size: 1em;
  }
}
