@font-face {
    font-family: Liberation Serif;
    src: url(../assets/fonts/LiberationSerif-Italic.ttf);
}

/* Toolbar area */


.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */
.md-sidenav-left {
    width: 200px;
}
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
md-content {
    width: 100%; !important
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */

#content {
  overflow: hidden;
}

#content  {
  padding-top: 5px;
}

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 40px;
}

#content md-icon.avatar {

}

#content .md-button.contact > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}
.click-to-date {
    display: inline-block;
    padding-left: 10px;
}
.click-to-tag {
    padding-left: 10px;
}
.leftCol {
    border-right: 1px solid lightgray;
    padding-left: 20px;
}
.rightCol {
    padding-left: 10px;
}
#herobg {
    background: #6F6F65;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
#bg {
    background: url('../img/bg.jpg');
    background-size: cover;
}
#nav {
    background: #45484B;
    height: 55px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 100;
}
#logo {
    left: 50px;
    width: 150px;
    height: 75px;
    background: #45484B;
    position: relative;
    z-index: 101;
}
.filters {
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.filter {
    display: inline-block;
    text-decoration: wavy;
}

#menu-wrapper {
    left: 225px;
    position: absolute;
    max-width: 80%;
}
.menu-ul {
    display: inline-block;
    overflow: hidden;
    list-style-type: none;
}
.menu-li {
    float: left;
    text-align: center;
    display: block;
    height: 20px;
    width: 75px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-li-large {
    float: left;
    text-align: center;
    display: block;
    height: 20px;
    width: 95px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-li-large:hover {
    cursor: pointer;
    text-align: center;
    background: black;
    height: 20px;
    width: 95px;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-li:hover {
    cursor: pointer;
    text-align: center;
    background: black;
    height: 20px;
    width: 75px;
    padding-left: 10px;
    padding-right: 10px;
}
#blogMessage {
    width: 500px;
    height: 300px;
}
#authorDateLine {
    text-align: center;
}
.top-padding {
    height: 120px;
}
.title {
    width: 100%;
    font-family: 'Liberation Serif', sans-serif;
    font-size: 40px;
    color: #202124;
    line-height: 50px;
    text-align: center;
}
.odd {
    color: white;
    background: grey;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
.even {
    color: white;
    background: dodgerblue;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
.check-element {
    padding: 10px;
    border: 1px solid lightgray;
    background: white;
}
#main {
    padding: 10px;
}
#leftcolumn {
    float: left;
    width: 50%;
    padding: 20px;
}
#rightcolumn {
    float: left;
    width: 50%;
    padding: 20px;
}
#subject {
    width: 100%;
}
#taStyle {
    line-height: 20px;
    margin: 0;
    padding: 5px;
    font-size: 1.25em;
    height: 100%;
    z-index: 100;
    min-width: 100%;
}
#newContainer {
    width: 100%;
    height: auto;
    font-size: 2em;
    border: 0;
    color: black;
    background: transparent;
}
#newContainer:focus {
    outline: 0;
}
.header {
    background: #F0F0F0;
    padding-left: 10px;
    width: 100%;
}
.right {
    float: right;
}
.messagestyle {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25em;
    width: 1000px;
}
.centered {
    align-self: center;
    display: flex;
}
.outer {
    display: flex;
    align-items: center;
    bottom: 0;
}
#openToggles {
    background: #F0F0F0;;
    height: auto;
}
#menuitem {
    color: black;
}
.right {
    color: black;
    padding-right: 20px;
    margin-left: auto;
}
.md-button.dropdown {
    overflow: visible; /*reset*/
    color: black;
}
.blackify {
    color: black !important;
}

.dropdown .dropdown-menu {
    max-width: 0;
    position: absolute;
    left: 40px;
    top: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
    background-color: lightgray;
    list-style: none;
    color: black;
    z-index: 2000;
    transition: min-width 0.2s ease-in-out, left 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.dropdown .dropdown-menu .md-button {
    min-width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 6px 16px;
    color: black;
}

.dropdown.active .dropdown-menu {
    max-width: 300px; /* set a maxwidth bigger than the widest element */
    left: 0;
    opacity: 1;
    color: black;
}
/*Ng Animate classes*/
.ui-view-container {
    /*position: relative;*/
    height: 100%;
}
.home-settings {
    position: relative;
    color: black;
    width: 15%;
    float: right;
    padding-right: 30px;
}
#paddingit {
    padding: 30px;
}
.profilepic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.padding {
    padding-left: 20px;
}
.page-content {
    overflow: auto;
    padding-bottom: 350px;
}
footer {
    position:relative;
    clear:both;
    height:350px; /* Tinggi footer */
    line-height:30px;
    padding:0 15px;
    margin-top:-350px; /* Angkat ke atas setinggi 'tinggi footer' */
    background-color: #262626;
    color: black;
}
.page-wrapper {
    min-height: 100%;
    width: 100%;
}
/*.button {*/
    /*color: hotpink;*/
    /*cursor: pointer;*/
    /*padding: 5px;*/
    /*margin-bottom: 10px;*/
/*}*/
/*.button a {*/
    /*text-decoration: none;*/
/*}*/
/*.button:hover {*/
    /*background: lightgrey;*/
    /*cursor: pointer;*/
/*}*/
.long {
    width: 80%;
}
md-option {
    color: black;
}
.gray {
    color: lightgrey;
}
.blueFooter {
    background: #1A3240;
    color: lightgray;
}
.bloglist {
    padding: 10px;
}
.clicked {
    background: lightblue;
}
.smalleriC {
    width: 50px;
}
/*Menu Overlay*/
/* Hides everything pushed outside of it */
.lower{
    width:100px;
    margin:10% auto;
    opacity:0.8;
    color:black;
}
.postline {
    opacity: 0.4;
    font-family: OpenSans-Bold;
    font-size: 13px;
    color: #202124;
    line-height: 20px;
}
.postdate:after {
    padding-left: 3px;
    padding-right: 3px;
    color: #7e7e7e;
    content: "•";
}
.postdate:before {
    padding-left: 3px;
    padding-right: 3px;
    color: #7e7e7e;
    content: "•";
}
.lower:hover{
    cursor: pointer;
    background:black;
    color:white;
}

#op{
    display:none;
}

.lower label{
    padding-left: 40px;
    font-size:30px;
    text-align:center;
}

.lower label:hover{
    cursor:pointer;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 2000;
}

.overlay label{
    width: 58px;
    height:58px;
    position: absolute;
    right: 20px;
    top: 20px;
    background: url('http://tympanus.net/Development/FullscreenOverlayStyles/img/cross.png');
    z-index: 2000;
    cursor:pointer;
}

.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 54px;
}

.overlay ul li a {
    font-weight: 300;
    display: block;
    color: white;
    text-decoration:none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-transform:uppercase;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #849368;
}

.lower~.overlay-hugeinc{
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

#op:checked~.overlay-hugeinc{
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay-hugeinc nav {
    -moz-perspective: 300px;
}
.centered {
    height: 100px;
    width: 100px;
    background: lightgray;
}

.overlay-hugeinc nav ul {
    opacity: 0.4;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

#op:checked~.overlay-hugeinc nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

#op:not(:checked)~.overlay-hugeinc nav ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
}
.frow {
    display: flex;!important
    width: 100%;!important
    margin-right: 0;!important
    margin-left: 0;!important
}

.login-textbox {
    width: 80%;
}
#outer {
    margin: 0 auto;
}
.countainers {
    margin: 0 auto;
    width: 500px;
    height: 500px;

}
#content {
    text-align:center;

    /*position:absolute;*/
    /*left:0;*/
    /*right:0;*/
    /*margin:auto;*/
    /*padding:120px 0 10px 0;*/

    width:200px;
    height:20px;
}

input[type="checkbox"]{display:none;}

.checkbox:checked + .label{
    background:#7B7484;
    color:#231733;
}

.checkbox:checked ~ .social {
    opacity:1;
    -webkit-transform: scale(1) translateY(-90px);
    -moz-transform:scale(1) translateY(-90px);
    -o-transform:scale(1) translateY(-90px);
    transform:scale(1) translateY(-90px);
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
}

.label {
    font-size:16px;
    cursor:pointer;
    margin:0;
    padding:5px 10px;

    border-radius:10%;
    color:#7B7484;
}

.social {
    transform-origin:50% 0%;

    -webkit-transform: scale(0) translateY(-190px);
    -moz-transform:scale(0) translateY(-190px);
    -o-transform:scale(0) translateY(-190px);
    transform:scale(0) translateY(-190px);

    opacity:0;
}
/*Login page*/
.login-box{
    position:relative;
    margin: 10px auto;
    width: 500px;
    height: 380px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}
.lb-header{
    position:relative;
    color: #00415d;
    margin: 5px 5px 10px 5px;
    padding-bottom:10px;
    border-bottom: 1px solid #eee;
    text-align:center;
    height:28px;
}
.lb-header a{
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.lb-header .active{
    color: #029f5b;
    font-size: 18px;
}
.social-login{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #eee;
}
.blogposts {
    margin-left: 375px;
    margin-right: 375px;
}
.social-login a{
    position:relative;
    float: left;
    width:calc(40% - 8px);
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 3%;
    text-align:center;
}
.social-login a i{
    position: relative;
    float: left;
    width: 20px;
    top: 2px;
}
.social-login a:first-child{
    background-color: #49639F;
}
.social-login a:last-child{
    background-color: #DF4A32;
}
.email-login,.email-signup{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    margin-top: 20px;
    text-align:center;
}
.u-form-group{
    width:100%;
    margin-bottom: 10px;
}
.u-form-group input[type="email"],
.u-form-group input[type="password"]{
    width: calc(50% - 22px);
    height:45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
}
.u-form-group input:focus{
    border-color: #358efb;
}
.u-form-group button{
    width:50%;
    background-color: #1CB94E;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
}
.forgot-password{
    width:50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 0.75rem;
}

/*html { width: 100%; height:100%; overflow:hidden; }*/
.mainee {
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
.margin-autos {
    width: 75%;
    margin: 0 auto;
}
.middleit {
    height: 50px;
    padding-top: 50px;

}
.margin-tops {
    margin-top: 10px;
}
.fullcontainer {
    width: 75%;
    margin: 0 auto;
    height: 100%;
    padding-top: 20px;
}
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width:300px;
    height:300px;
}
.login h1 { color: black; letter-spacing:1px; text-align:center; }
.inputlogin {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}
.inputlogin:focus {
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}
.title {
    width: 100%;
    height: auto;
    text-align: left;
    font-size: 2em;
    border: 0;
    color: black;
    background: transparent;
}
.title a:hover {
    text-decoration: none;
    color: gray;
}
.title a {
    color: black;
}
.title:focus {
    outline: 0;
}
.textarea {
    width: 75%;
    padding-top: 5px;
    padding-left: 2px;
}
.bloglistheading {
    padding-left: 10px;
    flex: 75;
}
.addbutton {
    padding-top: 20px;
    flex: 25;
}
.addbutton a {
    color: black;
    cursor: pointer;
}
.addbutton a:hover {
    color: #275074;
}
.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
    cursor:pointer;
}
.logo {
    padding-top: 5px;
    height: 109px;
    width: 165px;
}
.fullpage {
    height: 100%;
    padding-left: 10px;
}
.end {
    display: flex;
    width: 100%;
}
.logobar {
    height: 120px;
}
.flexbox {
    /*overflow: hidden;*/
    /*position: absolute;*/
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    /*-webkit-box-align: center;*/
    align-items: center;
    justify-content: center;
}
.flexbox2 {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
}
.logoflex {
    height: 110px;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
}
.outerFooter {
    width: 75%;
}
.menu-row {
    flex-direction: row;
    width: 75%;
}
.navbar {
    background: #2D3030;
}
.navul {
    list-style: none;
}
.navli {
    display: inline;
    float:left;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
}
.nava {
    display: block;
    color: black;
}
.nava:hover {
    text-decoration: none;
    color: lightgray;
}
.blogContainer {
    width: 75%;
}
.deleteblog {
    cursor: pointer;
}
.bloglistitems {
    width: 20%;
}
.bloglist_ctrls {
    padding-left: 10px;
}
.slide {
    height: 500px;
    margin-top: 25px;
    padding-left: 10px;
}


/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.nav .wrapper {
    /*margin: 0 auto;*/
    width: 100%;
    /*padding: 1em 0 .8em;*/
}

.nav ul {
    margin: 0;
    width: 100%;
}

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}

/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    background:#2D3030;
}

.menu {
    background: #2D3030;
    height: 55px;
    width:1000px;
    margin:0px auto;
}

.menu li {
    margin: 0px;
    list-style: none;
    font-family: 'Cabin', sans-serif;
}

.menu a {
    transition:all linear 0.15s;
    color:white;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:black;
}


/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-weight: bold;
}

.menu > ul > li > a {
    padding:10px 10px;
    display:inline-block;
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
    color: lightgray;
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    background:#2D3030;
}

.sub-menu li {
    display:block;
    font-size:16px;
}

.sub-menu li a {
    padding:10px 30px;
    display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background: lightgrey;
}
.featured {
    margin-top: 50px;
    width: 100%;
    height: 500px;
}
.featuredimg {
    margin-top: 50px;
    width: 750px;
    height: 425px;
    background: url("../img/boat-cropped.jpg");
}
.newpost {
    width: 425px;
    /*height: 750px;*/
}
.newpost a:hover {

}
/*sliders ya */
.example {
    border: 1px solid black;
    background-color: #ccc;
}
.example + .example {
    margin-top: 20px;
}
.example .content {
    position: relative;
    min-height: 400px;
    text-align: center;
    color: white;
}

/* VIDEO BACKGROUND MODULE */
.video-bg {
    position: relative;
    overflow: hidden;
}
.video-bg .video.cover {
    min-height: calc(100% + 2px);
    position: absolute;
    left: -1px;
    right: -1px;
}
.video-bg .video.cover::before {
    content: "";
    display: block;
    height: 0px;
    padding-bottom: 57.14286%;
}
.video-bg .video.cover video {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0px;
}
.video-bg .video.cover.align-left video {
    left: 0px;
}
.video-bg .video.cover.align-center video {
    left: 50%;
    top: 0px;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
.video-bg .video.cover.align-right video {
    right: 0px;
}
.video-bg .video.cover.align-top {
    top: 0px;
}
.video-bg .video.cover.align-middle {
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
.video-bg .video.cover.align-bottom {
    bottom: 0px;
}
.video-bg .video.contain {
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
}
.video-bg .video.contain video {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}
.video-bg .video.contain.align-left video {
    left: 0px;
}
.video-bg .video.contain.align-center video {
    left: 0px;
    right: 0px;
    margin: auto;
}
.video-bg .video.contain.align-right video {
    right: 0px;
}
.video-bg .video.contain.align-top video {
    top: 0px;
}
.video-bg .video.contain.align-middle video {
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.video-bg .video.contain.align-bottom video {
    bottom: 0px;
}
.video-bg .video.contain.fill-width video {
    width: 100%;
    max-height: none;
}
.video-bg .video.contain.fill-height video {
    max-width: none;
    height: 100%;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 170px;
    text-align: center;
    padding: 50px 10px;
    margin-left: 10px;
}
.drop-box.dragover {
    border: 5px dashed blue;
}

.drop-box.dragover-err {
    border: 5px dashed red;
}
.fi-preview {
    width: 100%;
    height: 300px;
}
.fi-preview-red {
    color: red;
}
/*----- Toggle Button -----*/
.toggle-nav {
    display:none;
}
/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;
    }
}

@media screen and (max-width: 970px) {
    .search-form input {
        width:120px;
    }
}

@media screen and (max-width: 860px) {
    .menu {
        position:relative;
        display:inline-block;
    }

    .menu ul.active {
        display:none;
    }

    .menu ul {
        width:100%;
        position:absolute;
        top:120%;
        left:0px;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
    }

    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:22px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;
    }

    .menu li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }

    .menu a {
        display:block;
    }

    .toggle-nav {
        padding:20px;
        float:left;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:#777;
        font-size:20px;
        transition:color linear 0.15s;
    }

    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
    }
}
.boxed {
    background: #F92525;
    font-family: Raleway-Bold;
    font-size: 13px;
    color: #FFFFFF;
    width: 100px;
    text-align: center;
    padding: 10px;
}
.boxed a:hover {
    text-decoration: none;
    color: lightgray;
}
.boxed a {
    color: white;
}
.blogPost {
    width: 66%;
    margin: 0 auto;
}
.blogul{
    margin: 0;
    padding: 0;
}
.blogli{
    margin: 0;
    padding: 0;
}
.center {
    text-align: center;
}
.centerimg {
    margin: 0 auto;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.custom-file-upload {
    cursor: pointer;
    background: url(../img/image.png);
    border: 0;
    display: block;
    height: 69px;
    width: 69px;
}
.boxed-border {
    /* BG: */
    background: #FFFFFF;
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.15);
    /* Article Title: */
    font-family: HelveticaNeue;
    font-size: 14px;
    color: rgba(0,0,0,0.54);
    /* BG: */
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: 100%;
}

.optionsgalore {
    /* BG: */
    background: #FFFFFF;
    border: 2px solid rgba(0,0,0,0.12);
    /* BG: */
    /* @bounds: */
    background: rgba(255,0,0,0.15);
    /* Headline: */
    font-family: HelveticaNeue;
    font-size: 14px;
    width: 100%;
}

.heads-gray {
    /* BG: */
    background: #F2F2F2;
    /* BG: */
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(0,0,0,0.12);
    /* Headline: */
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    border-radius: 3px;
    width: 100%;
    display: table;
    height: 56px;
}
.heads {
    /* BG: */
    padding: 15px 15px 15px 15px;
    background: #FFFFFF;
    border: 1px solid rgba(0,0,0,0.12);
    /* Headline: */
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    border-radius: 3px;
    width: 100%;
}
.stitched {
    padding: 20px;
    margin: 10px;
    color: black;
    border: 2px dashed black;
    border-radius: 10px;
    height: 500px;
    width: 90%;
}
.titled {
    background: #FFFFFF;
    margin-top: 20px;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.15);
    font-family: HelveticaNeue;
    font-size: 14px;
    color: rgba(0,0,0,0.54);
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: 100%;
}
.spantled {
    padding: 0 0 20px 0;
    font-family: HelveticaNeue;
    font-size: 14px;
}
.permalink {
    padding: 15px 0 0 0;
    font-family: HelveticaNeue;
    font-size: 14px;
    color: #4673E3;
}
.bloglist {
    height: 100%;
}
.contents {
    /*padding: 0 0 10px 0;*/
    width: 100%;
}
.light-toolbar {
    font-family: Montserrat-Light;
    font-size: 28px;
    color: #FFFFFF;
    padding-left: 20px;
    box-sizing: border-box;
    background: #3B566D;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    min-height: 64px;
    width: 100%;
    border-color: rgba(0,0,0,0.12);
}
.imgclass {
    width: 40%;
    height: 40%;
}
.dark-toolbar {
    background: #2A3D4E;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    font-size: 20px;
    min-height: 64px;
    width: 100%;
}
.mens {
    margin-top: 20px;
    padding-left: 10px;
}
.article {
    width: 100%;
    padding-top: 10px;
}
.article a:hover {
    color: rgba(0,0,0,0.54);
    text-decoration: none;
}
.article-left {
    font-family: HelveticaNeue;
    font-size: 16px;
    color: rgba(0,0,0,0.54);
    line-height: 18px;
    width: 100px;
}
.active {
    border-right: #3B566D 2px solid;
    background: rgba(0,0,0,0.06);
}
*:focus {
    outline: none;
}
.numeros {
    background: lightgray;
}
md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 250px !important;
    width: 50vw !important;
    max-width: 250px !important;
}
.fullheight {
    height: 1000px; !important
}
.commenter {
    flex-direction: column;
    resize: none;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid;
    width: 100%;
    height: 200px;
}
.commentname {
    cursor: auto;
    border: 2px inset;
    width: 75%;
    margin-top: 10px;
}
.commentlabel {
    margin-top: 10px;
    width: 75%;
}
.padding-right {
    margin-right: 20px;
}
.share-button {
    /*margin: auto;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    width:6em;
    height:2em;
    line-height:2em;
}

.social-toggle {
    display:block;
    font-weight:bold;
    font-size:90%;
    text-align:center;
    text-transform:uppercase;
    transition:all 0.25s;
    color:rgb(200,200,200);
    background:rgba(200,200,200,.05);
    border: 2px solid rgb(200,200,200);
}

.social-toggle:hover {
    background:rgb(200,200,200);
    color:#333;
}

.no-js .social-toggle, .no-js .social-toggle:hover {
    cursor: default;
    border:none;
    background:transparent;
    color:rgb(200,200,200);
    pointer-events:none;
}

.social-networks {
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0) translateY(-190px);
    transform: scale(0) translateY(-190px);
    opacity: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin-left: -45%;
    /* stops flickering */
    -webkit-backface-visibility: hidden;
}

.social-gplus {
    background: #e34429;
}

.social-twitter {
    background: #6cdfea;
}

.social-networks.open-menu, .no-js .social-networks {
    -webkit-transform: scale(1) translateY(-90px);
    transform: scale(1) translateY(-90px);
    opacity:1;
}


.social-networks ul {
    /*position:relative;*/
    /*top:0;*/
    /*left:0;*/
    width: 180px;
    height: 40px;
    color: #fff;
    background: #3b5998;
    /*margin: auto;*/
    padding: 0;
    list-style: none;
}
.blogroll {
    width: 750px;
}
.social-networks ul:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.social-networks.open-menu ul:after, .no-js .social-networks ul:after {
    margin: 35px auto;
    border-top: 12px solid #3b5998;
}

.social-networks li {
    font-size: 90%;
    width: 60px;
    margin: 0;
    text-align: center;
    float: left;
    display: block;
    height: 40px;
    line-height:40px;
    position: relative;
    z-index: 2;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s ease;
}

.share-button a {
    text-decoration:none;
}

.social-networks a {
    display:block;
    color:white;
}

.social-networks a:hover {
    color:#222;
}
.commentcontainer {
    width: 100%;
    border: 1px solid black;
    background: #F8F9FA;
}
.singlecomment {
}
.feate {
    background: url('../img/mtnbg.png');
    background-size: cover;
    background-position: center center;
    opacity: .9;
    width: 100%;
    height: 600px;
}
ui-view {
    width: 100%;
}
.optionsheading {
    font-family: HelveticaNeue;
    font-size: 14px;
    color: rgba(0,0,0,0.87);
}
.active-bottom {
    margin-bottom: 0;
    height: 38px;
    border-bottom: 3px solid #2E79BF
}
.top-bar {
    font-family: HelveticaNeue;
    font-size: 14px;
    background: #F2F2F2;
    padding: 10px;
    width: 100%;
    height: 30px;
    display: table;
}
.marginized {
    display: table-cell;
    vertical-align: middle;
    margin-right: 30px;
    margin-top: 15px;
}
.blogs {
    height: 84px;
    width: 725px;
}
.date2 {
    width:60px; height:60px; padding-top:10px; margin-left:-30px; text-align:center; position:absolute; top:-55px; left:50%; background:#FFF; border-radius:100%; box-sizing:border-box; opacity:1; transition:.3s ease; z-index: 1000;
}

.date { width:60px; height:60px; padding-top:10px; margin-left:-30px; text-align:center; position:absolute; top:-55px; left:50%; background:#FFF; border-radius:100%; box-sizing:border-box; opacity:0; transition:.3s ease; z-index: 1000; }
.day { font:22px/22px 'Work Sans'; color:#555; display:block; }
.month { font:300 12px/17px 'Work Sans'; color:#888; text-transform:uppercase; display:block; }


/* 4.7 - Boxes */

.boxes .center { max-width:1350px; text-align:center; }
.boxes .item { margin-bottom:50px; flex: 0 0 33.333%; }
.boxes .item .thumb { width:100%; height:425px; margin-top: 30px; margin-bottom:30px; position:relative; overflow:hidden; }
.boxes .item .back { width:100%; height:100%; position:absolute; top:0; left:0; background-size:cover; background-position:top center; transition:1.5s ease; transition-property:opacity, transform; }
.boxes .item .details { position:relative; }
/*.boxes .item .date { width:60px; height:60px; padding-top:10px; margin-left:-30px; text-align:center; position:absolute; top:-55px; left:50%; background:#FFF; border-radius:100%; box-sizing:border-box; opacity:0; transition:.3s ease; z-index: 1000; }*/
/*.boxes .item .date .day { font:22px/22px 'Work Sans'; color:#555; display:block; }*/
.boxes .item .date .month { font:300 12px/17px 'Work Sans'; color:#888; text-transform:uppercase; display:block; }

.hover .boxes .item.over .back, .hover .boxes .item .thumb:hover .back { transform:scale(1.06); opacity:.7; }
.hover .boxes .item.over .button { padding:0 25px; }
.hover .boxes .item.over .date { top:-60px; opacity:1; }

@media only screen and (max-width:1024px) {
    .boxes .item { max-width:650px; margin:0 auto 50px; }
    .boxes .item .thumb { height:350px; }
    .boxes .item .details { padding:0 10%; }
    .boxes div[class^='col'] { padding:0; }
    .boxes .item .date { top:-60px; opacity:1; }
}

@media only screen and (max-width:480px) {
    .boxes .item { padding:0 30px; }
    .boxes .item .thumb { height:240px; }
    .boxes .item .details { padding:0; }
}

@media only screen and (max-width:320px) {
    .boxes .item .thumb { height:180px; }
}
.section { position:relative; }
.section:after, .section .center:after { content:''; clear:both; display:block; }
.section .item { position:relative; overflow:hidden; }
div[class^='col'] { padding:0 25px; float:left; box-sizing:border-box; }
.col-1 { width:100%; }
.col-2 { width:50%; }
.col-3 { width:30%; }
.col-4 { width:25%; }
.col-5 { width:20%; }
.col-6 { width:16.66%; }

@media only screen and (max-width:1024px) {
    .section:not(.stats):not(.services) div[class^='col'], footer div[class^='col'] { width:100% !important; }
}
.button { padding:10px 20px; font-size: 16px; font-family:'Quattrocento+Sans:700', sans-serif; color:#FFF; letter-spacing:.5px; text-transform:uppercase; background:#3b3b3b; display:inline-block; position:relative; cursor:pointer; white-space:nowrap; box-sizing:border-box; transition:.3s ease; border:none !important; }
.button i { margin-left:12px; }
.button:hover { padding:10px 25px; color:#FFF; background:#c6ac71; text-decoration: none; }
h4 {
    font-family: 'Qualtrocento+Sans:700', sans-serif;
    text-transform:uppercase;
    font-size: 14px;
}

.quote {
    background: #41ade5;
    position: relative;
    z-index: 1;
}
.quote:before, .quote:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}
.quote:before {
    top: 0;
    -webkit-transform: skewY(1.5deg);
    transform: skewY(1.5deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
.quote:after {
    bottom: 0;
    -webkit-transform: skewY(-1.5deg);
    transform: skewY(-1.5deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
}

.quote {
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    margin: 50px 0;
    padding: 20% 20px;
    text-align: center;
}
/*Login*/
.login-card {
    padding: 40px;
    width: 500px;
    background-color: #F7F7F7;
    margin: 0 auto 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.login-card h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}

.login-card input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.login-card input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.login-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-card a:hover {
    opacity: 1;
}

.login-help {
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.main-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.first-column {
    padding-left: 10px;
    width: 75%;
}
.second-column {
    margin-top: 100px;
    padding-left: 10px;
    width: 25%;
}
hr { border:1px solid #d6d4d4; border-bottom:1px solid #d6d4d4; margin:10px 0 10px; }
.post-title {
    padding-top: 10px;
}
.fullimage {
    width: 100%;
    height: 200px;
    /*-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");*/
    /*-o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");*/
    /*-webkit-filter: grayscale(100%);*/
    /*filter: gray;*/
    /*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");*/
    background:  linear-gradient(
            rgba(0, 0, 0, 0.90),
            rgba(1, 1, 1, 0.90)
    ), url('../img/boat-cropped.jpg');
}
h2 {
    font-size: 2em;
    text-transform: capitalize;
    font-family: 'Qualtrocento+Sans:700', sans-serif;
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
h3 {
    font-size: 1em;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Qualtrocento+Sans:700', sans-serif;
    color: black;
}
h5 {
    font-size: .90em;
    font-weight: bold;
    font-family: 'Qualtrocento+Sans:700', sans-serif;
    color: black;
}
.small-blog-roll {
    height: 400px;
}
.small-blog-item {
    height: 200px;
}
.small-blog-item-img {
    margin: 20px 0;
    height: 80px;
    width: 120px;
    background: url("../img/boat-cropped.jpg");
}
.small-blog-item-text {
    margin: 10px 10px;
    height: 80px;
}