<button id="google" class="button button-small button-border icon-left ion-fork button-assertive-900" ng-disabled="uc.recorded.counter < uc.recorded.cost" ng-click='uc.clickedAutoClicker()'>Clicker {{ uc.recorded.cost }}</button>
<button class="button button-small button-border icon-left ion-bowtie button-positive-900" ng-click='uc.clickGrandpa()' ng-disabled="uc.recorded.counter < uc.recorded.gcost">Gramps {{ uc.recorded.gcost }}</button>
<button class="button button-small button-border icon-left ion-heart-broken button-900" ng-click="uc.upgradePlayer()" ng-disabled="uc.recorded.counter < uc.recorded.goal">Level Up {{ uc.recorded.level }}</button>



