<div class="bio">
    <div class="first-column">
        <div class="bio-row">
            <div class="elevencolumn">
                <h2>Capable? I would say so</h2>
            </div>
            <div class="twelvecolumn">
                <h2>Here again!!!</h2>
                Mike is a
                <br>
                <h2>Branding</h2>
                Andouille pig shank jowl, pork loin kevin cupim biltong. Hamburger ribeye bacon, salami brisket pork
                chop ham hock biltong turducken. Shankle porchetta bacon short ribs drumstick, bresaola strip steak ball
                tip swine sirloin capicola andouille rump prosciutto. T-bone sirloin meatball, short ribs shank bacon
                doner picanha ball tip alcatra tail hamburger drumstick. Shoulder meatball beef shankle chicken pork
                chop.
                <br>
                <h2>My Particular Set of Skills</h2>
               <ul>
                   <li>Angular</li>
                   <li>Javascript</li>
                   <li>Git</li>
                   <li>HTML</li>
                   <li>CSS</li>
                   <li>NodeJS</li>
                   <li>MongoDB</li>
                   <li>Elastic Search</li>
               </ul>
                <br>
                <h2>Bio</h2>
                Jerky brisket meatball, frankfurter landjaeger short loin drumstick pork belly pork beef ribs spare ribs
                pork loin. Cow biltong bacon, ham hock leberkas brisket turkey strip steak meatball. Turducken short
                ribs cupim brisket porchetta. Tenderloin short loin ball tip chicken chuck. Pork bresaola porchetta,
                turducken picanha tenderloin tail strip steak shankle sirloin sausage landjaeger chicken.
                <br>
                <h2>Not again!!!</h2>
                Jerky frankfurter pig jowl landjaeger, rump ball tip andouille porchetta short ribs swine pastrami beef.
                Shankle pork chop kielbasa chicken swine ham, hamburger venison tri-tip alcatra picanha spare ribs cow
                brisket. Tenderloin andouille sirloin, jowl tail hamburger biltong salami cupim fatback doner cow.
                Drumstick swine shoulder kielbasa. Porchetta alcatra pancetta frankfurter, sausage pork t-bone bacon
                venison chicken prosciutto tongue landjaeger fatback capicola. Landjaeger strip steak ribeye porchetta
                salami, venison beef capicola ham hock. Ham porchetta ham hock doner brisket.
                <br>

                Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
            </div>
        </div>

    </div>
</div>
<div class="contactme">
	<h2>Contact Me</h2>
	<form name="name">
	<div class="names">
		<input class="first_name" ng-model="nc.name" placeholder="Your Name" type="text" ng-required="required">
	</div>
	<div class="emailadd">
		<input class="email_address" placeholder="Email Address" ng-model="nc.email" type="email" ng-required="required">
	</div>
		<textarea class="messages" placeholder="Please type your messages here" ng-model="nc.content" ng-required="required"></textarea>
	<div class="button" name="Send Email" ng-click="nc.post()">Send Email </div>
	</form>
</div>