<div class="bio">
    <div class="first-column">
        <div class="bio-row">
            <div class="elevencolumn">
                <div class="capable">
                    <h2>Short Bio</h2>
                </div>
                <div class="capable">
                    <h2>Particular Set of Skills</h2>
                </div>
            </div>
            <div class="twelvecolumn">
                <p>I’m a full-stack web developer driven to create functional, inspirational and fun applications. Before I
                    could drive, I would take computers apart, and rebuild them, adding parts that would make them act
                    better. I've always had an interest in computers, and I was drawn to programming because it was a
                    creative outlet and allowed me to control those computers I loved to build. I find it exciting to be
                    able to create a useful, quality product from a spark of an idea.</p>

               <p>My passions include my family, computers, food and music.  Recently I have picked up table tennis and
                   golf.</p>

                <p>I created the projects in my portfolio using JavaScript, AngularJS, Node, Express, MongoDB, Elastic
                Search and Firebase, among many other technologies.</p>
                <ul>
                    <li class="skills">Angular</li>
                    <li class="skills">Javascript</li>
                    <li class="skills">Git</li>
                    <li class="skills">HTML</li>
                    <li class="skills">CSS</li>
                    <li class="skills">NodeJS</li>
                    <li class="skills">MongoDB</li>
                    <li class="skills">Elastic Search</li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="contactme">
    <h2>Contact Me</h2>
    <form name="name">
        <div class="names">
            <input class="first_name" ng-model="nc.name" placeholder="Your Name" type="text" ng-required="required">
        </div>
        <div class="emailadd">
            <input class="email_address" placeholder="Email Address" ng-model="nc.email" type="email"
                   ng-required="required">
        </div>
        <textarea class="messages" placeholder="Please type your messages here" ng-model="nc.content"
                  ng-required="required"></textarea>
        <div class="button" name="Send Email" ng-click="nc.post()">Send Email</div>
    </form>
</div>