<a ui-sref="doing-utah-daily">
		<div class="portfolio-first">
			<img class="logo-img" src="./assets/img/doing_utah_daily_white.png"/>
			<div class="overlay">
			</div>
		</div>
	</a>
		<div class="grid">
			<div class="first-it">
				<div class="overlay">
					<span class="plus">+</span>
				</div>
			</div>
			<div class="second-it">
				<div class="overlay">
					<span class="plus">+</span>
				</div>
			</div>
			<div class="third-it">
				<div class="overlay">
					<span class="plus">+</span>
				</div>
			</div>
		</div>
	</div>